*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    background: rgb(2, 135, 131);
    display: grid;
    grid-template-rows: .7fr 2fr .4fr;
}

header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header p{
    padding: 20px;
    color: aquamarine;
}

main section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .7rem;
}

#strings{
    width: 75%;
    max-width: 900px;
}

#prnt{
    flex-direction: column;
}

#flx{
    display: flex;
}

textarea{
    width: 80%;
    resize: none;
    height: 300px;
    max-width: 1000px;
    padding: 1rem;
    border-radius: 0 1rem;
    font-size: 1.2rem;
}

button{
    padding: .4rem 1rem;
    /* border: none; */
    /* border-radius: 5px; */
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
}




html {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}